*{
    box-sizing: border-box;
    padding: 0;
}
ul{
    list-style: none;
}
.slick-prev:before, .slick-next:before{
    color:#30327F !important;
    background-color: transparent !important;
    
  }